<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<body>
	<div th:fragment=headermenu>
		<nav class="top-app-bar navbar navbar-expand navbar-dark bg-dark">
			<div class="container-fluid px-4">
				<!-- Drawer toggle button-->
				<button class="btn btn-lg btn-icon order-1 order-lg-0"
					id="drawerToggle" href="javascript:void(0);">
					<i class="material-icons">menu</i>
				</button>
				<!-- Navbar brand-->
				<a class="navbar-brand me-auto" href="dashboard.html"><div
						class="text-uppercase font-monospace">ZOOM MNP</div></a>
				<!-- Navbar items-->
				<div class="d-flex align-items-center mx-3 me-lg-0">

					<div class="d-flex">
						<!-- User profile dropdown-->
						<div class="dropdown">
<!-- 							<select id="localization" class="btn-dark" style="padding:0;"> -->
<!-- 							    <option value="" th:text="*{locale}"></option> -->
<!-- 								<option th:each="lang : ${localization}" th:value="${lang.constKey}" -->
<!-- 									th:text="${lang.description}">language</option> -->
<!-- 							</select> -->

							<button class="btn btn-lg btn-icon dropdown-toggle"
								id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="material-icons">person</i>
							</button>
							<ul class="dropdown-menu dropdown-menu-end mt-3"
								aria-labelledby="dropdownMenuProfile">
								<li><a class="dropdown-item" href="profile.html"> <i
										class="material-icons leading-icon">person</i>
										<div class="me-3">Profile</div>
								</a></li>
<!-- 								<li><a class="dropdown-item" href="#!"> <i -->
<!-- 										class="material-icons leading-icon">settings</i> -->
<!-- 										<div class="me-3">Settings</div> -->
<!-- 								</a></li> -->
<!-- 								<li><a class="dropdown-item" href="#!"> <i -->
<!-- 										class="material-icons leading-icon">help</i> -->
<!-- 										<div class="me-3">Help</div> -->
<!-- 								</a></li> -->
								<li><hr class="dropdown-divider" /></li>
								<li><a class="dropdown-item" href="logout"> <i
										class="material-icons leading-icon">logout</i>
										<div class="me-3">Logout</div>
								</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>
