<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Profile</title>
<!-- Load Favicon-->
<link href="assets/img/favicon.ico" rel="shortcut icon"
	type="image/x-icon" />
<!-- Load Material Icons from Google Fonts-->
<link
	href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
	rel="stylesheet" />
<!-- Load Simple DataTables Stylesheet-->
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css"
	rel="stylesheet" />
<!-- Roboto and Roboto Mono fonts from Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500"
	rel="stylesheet" />
<!-- Load main stylesheet-->
<link href="css/styles.css" rel="stylesheet" />
<style>
</style>
</head>
<body class="nav-fixed bg-light">
	<!-- Top app bar navigation menu-->
	<div th:insert="~{fragments/header.html :: headermenu}"></div>
	<!-- Layout wrapper-->
	<div id="layoutDrawer">
		<!-- Layout navigation-->
		<div th:insert="~{fragments/leftMenu.html :: leftmenu}"></div>
		<!-- Layout content-->
		<div id="layoutDrawer_content">
			<!-- Main page content-->
			<!-- Page header-->
			<header class="bg-dark">
				<div class="container-xl px-5">
					<h1 class="text-white py-3 mb-0 display-6">
						<span>Profile</span>
					</h1>
				</div>
			</header>
			<div class="container-xl p-5">
				<div class="card card-raised">
					<div class="card-body text-center p-5">
						<form role="form" action="#" id="userForm"
							th:object="${profileForm}" method="post">
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="firstName">First Name </label>
										<input class="form-control" id="firstName" type="text"
											th:field="*{firstName}" name="firstName" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="lastName">Last Name </label> <input
											class="form-control" id="lastName" type="text"
											th:field="*{lastName}" name="lastName" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="contactNumber">Contact
											Number</label> <input class="form-control" id="contactNumber"
											type="text" th:field="*{contactNumber}" name="contactNumber" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="emailId">Email</label> <input
											class="form-control" id="emailId" type="text"
											th:field="*{emailId}" name="emailId" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="contactPerson">Contact
											Person</label> <input class="form-control" id="contactPerson"
											type="text" th:field="*{contactPerson}" name="contactPerson" />
									</div>
								</div>
								<div class="col-sm-6">
									<div class="mb-3">
										<label class="form-label" for="companyName">Company
											Name</label> <input class="form-control" id="companyName" type="text"
											th:field="*{companyName}" name="companyName" />
									</div>
								</div>
							</div>
							<!-- 							<div class="row"> -->
							<!-- 								<div class="col-sm-6"> -->
							<!-- 									<div class="mb-3"> -->
							<!-- 										<label class="form-label" for="userType">User Type</label> <select -->
							<!-- 											class="form-select" id="userType" name="userType" -->
							<!-- 											aria-label="Default select example"> -->
							<!-- 											<option value="1">Admin</option> -->
							<!-- 											<option value="2">User</option> -->
							<!-- 										</select> -->
							<!-- 									</div> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
						</form>
					</div>
				</div>
			</div>

			<!-- Footer-->
			<div th:insert="~{fragments/footer.html :: footer}"></div>
		</div>
	</div>
	<!-- Load Bootstrap JS bundle-->
	<!-- Load global scripts-->
	<script src="js/scripts.js"></script>
	<!-- Load Simple DataTables Scripts-->
	<script th:src="@{js/jquery/jquery.min.js}"></script>
	<script th:src="@{js/litepicker.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
</body>
</html>
